:root{
  --primary: #ea40a4;
  --business: #3a82ee;
  --personal: var(--primary);
  --light: #eee;
  --dark: #313154;
  --danger: #ff5b57;
  --gray:#aaa;
  --shadow: 0 1px 3px rgba(0,0,0, 0.1);

  --business-glow: 0px 0px 4px rgba(58, 130,238, 0.75);
  --personal-glow: 0px 0px 4px rgba(253, 220, 29, 0.75);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

input:not([type='radio']):not([type='checkbox']), button{
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body{
  background: var(--light);
  color: var(--dark);
}

section{
  margin: 2rem 0 ;    /*top and botton*/
  padding: 0 1.5rem;  /*left and right*/
}

h3{
  color: var(--dark);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}
h4{
  color: var(--gray); 
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.greeting .title{
  display: flex;
}

.greeting .title input{
  margin-left: 8px;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title, .greeting .title input{
  color: var(--dark);
  font-size: 24px;
  font-weight: 700;
}

.create-todo input[type='text'] {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 16px 24px;
  color: var(--dark);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: border-box;
  margin-bottom: 24px;
}

.create-todo .options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 24px;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: var(--shadow);
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble.personal{
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}

.bubble::after{
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}

.bubble.personal::after{
  background-color: var(--personal);
  box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after{
  width: 10px;
  height: 10px;
  opacity: 1;
}

.create-todo .options label div{
  color: var(--dark);
  font-size: 18px;
  margin-top: 16px;
}

.create-todo input[type="submit"]{
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 16px 18px;
  color: #fff;
  background-color: var(--dark);
  border-radius: 8px;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.create-todo input[type="submit"]:hover{
  opacity: 0.8;
}

.todo-list .list{
  margin: 16px 0;
}

.todo-list .todo-item{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.todo-item label{
  display: block;
  margin-right: 16px;
  cursor: pointer;
}

.todo-item .todo-content{
  flex: 1 1 0%;
}

.todo-item .todo-content input{
  color: var(--dark);
  font-size: 18px;
}

.todo-item .actions{
  display: flex;
  align-items: center;
}

.todo-item .actions button{
  display: block;
  padding: 8px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
/* через классы  */
.todo-item .actions .edit{
  margin-right: 8px;
  background-color: var(--dark);
}
/* напрямую */
button.delete{
  background-color: var(--danger);
}

.todo-item .actions button:hover{
  opacity: 0.8;
}

.todo-item.done .todo-content input {
  text-decoration: line-through;
  color: var(--gray);
}